<% [:notice, :alert].each do |type| %>
  <% if flash[type] %>
    <div data-controller="flash" class="flash-<%= type %> flex items-center justify-between">
      <%= flash[type] %>
      <button data-action="flash#close">X</button>
    </div>
  <% end %>
<% end %>